.list-article li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
.list-article{
	padding-left: 50px;
	margin: 15px;
}
.list-article-desktop{
	margin-top: 10px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    height: 36px;
    background-color: #F5F5F5;
    text-align: center;
    padding-left: 50px;
	margin: 10px;
}