.list-article li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
.list-article{
	padding-left: 50px;
	margin: 15px;
}
.list-article-desktop{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    height: auto;
    background-color: #F5F5F5;
    text-align: center;
}

.list-article-desktop ul{
	width: auto;
	margin: auto;
	text-align: center;
}
.list-article-desktop ul li a{
	background-color: #F5F5F5 !important; 
}

.tab-content{
	display: none;
}
.tab-content.current{
	display: inherit;
}
