.control-lable{
	margin-top: 8px;
}

.vote-aticles{
	background: white;
	padding: 15px;
}

li{
	list-style-type: none;
}

.list-vote{
	padding: 15px;
}

.vote-content img{
	width: 121.13px;
	height: auto;
	margin-bottom: 10px;
	margin-top: 5px;
	background: white;
}